.container{
    width:290px;
    height:20px;
    border:10px solid red;
    overflow:hidden;
    transition: 1s ease-out;
}

.container.expand{
    width:270px;
    height:310px;
    border:10px solid red;
    background-color: pink;
    transition: 1s ease-out;
}




.content{
    word-break: break-word;
}

.expandBTN{
    margin-top:0px;
}