
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap');


.App {
  width:100%;
  min-height:100vh;
  display:flex;
  flex-direction:column;
  justify-content:center;
  text-align: center;   
  min-width:1000px;
  overflow-x: hidden;
} 



.Nav{
  width:100%;
  height:80px;
  position:fixed;
  box-shadow:grey 0px 0px 5px -1px;
  top:0px;
  background-color: white;
  z-index:1;
  display:flex;
  justify-content: flex-end;
  gap:20px;
  align-items: center;
}


.Nav-link{
  text-decoration:none;
  color:black;
  font-size: 25px;
  font-weight:bold;
}

.Nav-link1{
color:white;
text-decoration:none;
font-size:20px;
line-height:30px;
;
}


.DropDownMenu{
  height:200px;
  width:200px;
  background-color: black;
  z-index:2;
  position:fixed;
  top:20%;
  bottom:0px;
  right:-200px;
  transition: 1s ease-out;
  display:flex;
  align-items: center;
  margin-top:-10px;
}

.DropDownMenu.open{
  transform: translateX(-130px);
  z-index:2;
  position:fixed;
  border-radius:110px;
}


.ShowNavMenuBtn{
  position:fixed;
  z-index:2;
  display:none;
}

/* .NavMenuList{
  display:none;
} */

@media(max-width:800px){
  .Nav-link{
    display:none;
  }
  .ShowNavMenuBtn{
    display:block;
  }
}

@media(min-width:800px){
  .DropDownMenu.open{
    transform:translateX(100%);
  }
}

.HomePage{
  width:100%;
  height:720px;
  padding-top:180px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  /* min-width:410px; */
  position:relative;
  z-index:0;
}
.sky {
  background-color: black;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 80px;
  left: 0;
  z-index:0;
}
.star {
  width: 2px;
  height: 2px;
  background-color: white;
  position: absolute;
  border-radius: 50%;
}

@keyframes twinkle {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.intro {
  z-index: 1;
}
.selfIntro1{
  color:white;
  font-size: 100px;
}
.selfIntro2{
  color:white;
  font-size: 50px;
  margin-top:50px;
}
.selfIntro3{
  color:white;
  font-size: 20px;
}

.About{
  width:100%;
  height:650px;
  background-color: rgba(193, 170, 170, 0.107);
  display:flex;
  align-items: center;
  justify-content: space-around;
  
}

@media (max-width:800px){
  .About{
    display:flex;
    flex-direction:column;
    padding-top:10%;
    align-items: center;
  }
}


.heartANDpicture{
  position:relative;
  z-index:0;

}



/* Below is HeartBeatingEffect ********************************************************************************************/
.Heart{
  width: 100px;
  height: 100px;
  margin: 25px auto; 
  display:flex;
  justify-content:center;
  align-items:center;
  animation: HeartBeatingEffect 0.1s linear infinite alternate;
  position:absolute;
  z-index:1;
  left:120px;
  bottom:-50px;
}

@keyframes HeartBeatingEffect{
  0%{
    transform: scale(1);
  }
  100%{
    transform: scale(1.3);
  }
}

.left,.right{
    width: 30px;
    height:50px;
    background-color: pink;
    border-radius:50px 50px 0 0;
    box-shadow:0px 0px 35px 5px pink;
  }

  .left{
    transform: translateX(7px) rotate(-45deg);
  }
  .right{
    transform: translateX(-7px) rotate(45deg);
  }


  .Project{
  display:flex;
  width:100%;
  height:30px;
  border:1px solid black;
}


/* below is spinning disc ************************************************************************************************/

.disc{
  width:250px;
  height:250px;
  border:75px solid rgb(218, 189, 21);
  border-left:75px solid goldenrod;
  border-right:75px solid gold;
  border-bottom:75px solid yellow;
  border-radius:125px 125px 125px 125px;  /*当border-raius的值超过border时，border里面的区域也会圆角化*/
  /* box-shadow:100px 10px 10px 10px;  */
  background-color:white;
  animation:Rotate infinite 12s linear;
  box-sizing: border-box;
}
@keyframes Rotate{
  0%{
    transform:rotate(0deg);
  }
  100%{
    transform:rotate(360deg);
  }
}
/* 
.discContainer{
  position:relative;
  z-index:0;
  width:200px;
  height:200px;
  position:relative;
  z-index:0;
  margin-left:70%;
  margin-top:10%;
} */

/* .discCenter{
  width:90px;
  height:90px;
  background-color:white;
  border-radius:90px;
  right:15%;
  top:40%;
  position:absolute;
  z-index:1;
  line-height:10px;
} */

@media(max-width:800px){
  /* .HomePage{
    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    width:100%;
    height:730px;
    padding-top:170px;
  } */

 
  .discContainer{
    position:relative;
    z-index:0;
    width:200px;
    height:200px;
    position:relative;
    z-index:0;
  }
  .discCenter{
    width:100px;
    height:100px;
    background-color:rgba(255, 217, 0, 0.31);
    border-radius:50px;
    right:15%;
    top:40%;
    position:absolute;
    z-index:1;
    line-height:10px;
}
}
@media(min-width:800px){
  .discContainer{
    position:relative;
    z-index:0;
    width:200px;
    height:200px;
    position:relative;
    z-index:0;
    margin-left:60%;
    margin-top:10%;
  }
  .discCenter{
      width:100px;
      height:100px;
      background-color:rgba(255, 217, 0, 0.31);
      border-radius:50px;
      right:12.1%;
      top:37.54%;
      position:absolute;
      z-index:1;
      line-height:10px;
  }
}

/* .water{
  width:100px;
  height:70px;
  border-radius: 69% 31% 56% 44% / 71% 61% 39% 29% ;
  box-shadow: inset 5px 10px 15px rgba(0,0,0,0.5),
  5px 10px 15px rgba(0,0,0,0.3),
  10px 10px 15px rgba(0,0,0,0.05),
  inset -5px -10px 10px rgba(255,255,255,0.8);
  animation:water-action 4.5s linear infinite alternate;
  padding-top:40px;
}

@keyframes water-action{
  20%{
       border-radius: 55% 45% 47% 53% / 77% 53% 47% 23% ;
  }
  40%{
       border-radius:35% 65% 35% 65% / 85% 42% 58% 15% ;
  }
  60%{
     border-radius: 61% 39% 54% 46% / 55% 62% 38% 45% ;
  }
  80%{
    border-radius: 71% 29% 68% 32% / 44% 69% 31% 56% ;
  }
  100%{
    border-radius: 47% 53% 79% 21% / 36% 79% 21% 64% ;
  }
} */